body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #eee;
	font-size: 16px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.app {
	margin: 0.3rem;
	/* box-sizing: border-box; */
	width: 60%;
	height: 100%;
}

.app h1 {
	margin-left: 3.2rem;
}

.book-list {
	padding: 0;
}

.book-list li {
	display: inline-block;
	margin: 0.8rem;
	padding: 0.6rem;
	border-radius: 4px;
	border: 1px solid #880e4f;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	color: #880e4f;
}

.add-book {
	background: #fff;
	padding: 1.2rem;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 400px;
}

.field {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

.field label {
	text-align: right;
	padding: 6px;
}

.add-book select,
.add-book input {
	margin: 0.25rem;
	padding: 0.4rem;
	box-sizing: border-box;
}

.add-book button {
	color: #fff;
	font-size: 2em;
	background-color: #ad1457;
	border: 0;
	padding: 0 10px;
	border-radius: 50%;
	cursor: pointer;
}

.book-detail {
	position: fixed;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
	background: #ad1457;
	box-sizing: border-box;
	padding: 40px;
	overflow: auto;
	box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
	color: #fff;
}

.book-detail li {
	color: #fff;
	border: 1px solid #fff;
	box-shadow: -2px -3px 5px rgba(f, f, f, 0.3);
}
